Documents/*
!Documents/README.md
Indexes/*
!Indexes/README.md
logs/*
!logs/README.md
ollama_models/*
!ollama_models/README.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class